.celula {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
}

.celula.montanhoso {
    background-color: rgb(88, 88, 88);
}

.celula.plano {
    background-color: rgb(160, 160, 160);
}

.celula.rochoso {
    background-color: rgb(218, 218, 218);
}

.celula.casa {
    background-color: rgb(231, 97, 8);
}

.celula.inicio {
    background-color: rgb(8, 231, 27) !important;
}